@page "/"

<PageTitle>MemeIT</PageTitle>

<section class="fullhero landing">
    <div class="herotext">
        <h1><strong>Partajarea de meme-uri nu a fost niciodată mai simplă!</strong></h1>
        <p>Platforma ideală pentru studenții de la Politehnică, 
            amuzați de câte materii o să pice semestrul asta.</p>
         <AnchorLink ElementId="upload" >
             <button>Upload a MEME</button>
         </AnchorLink>
    </div>
    <div class="heroimg">
        <img src="img/hero1.svg" />
    </div>
</section>

<section id="upload" class="fullhero uploadhero">
    <div class="form-container">
        <div class="form-text">
            <h2>Ai tupeu și crezi că ești amuzant?</h2>
            <br />
            <p>Trimite-ne un mail și poate ai noroc să ne apuce râsul când îți vedem meme-ul.</p>
        </div>
        <form>
            <label>
                Descriere
                <br/>
                <input type="text" placeholder="descriere" />
            </label>
            <label>
                Meme
                <br/>
                <input type="file" placeholder="drag & drop" />
            </label>
        </form>
    </div>
</section>

<section class="hero-viewed">
    <div class="hero-title">
        <h2>Most viewed</h2>
    </div>
    <div class="images">
        @for(int i=0; i < 10; i++)
        {
            <div class="img-container">

            </div>
        }
    </div>
</section>
