@inherits LayoutComponentBase

<NavMenu />

<main>
    @Body
</main>

<footer>
    <div class="socials">
        <img src="img/socials-insta.svg" />
        <img src="img/socials-twitch.svg" />
        <img src="img/socials-fb.svg" />
    </div>
    <p>Copyright &copy; 2022 | La muncă, nu la întins mâna.</p>
</footer>
