
/*main {
    padding-top: var(--nav-height);
}*/

footer {
    background: #06114F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
}

.socials > img {
    aspect-ratio: 1;
    height: 25px;
    display: inline-block;
    margin: 0 0.2rem 0 0.2rem;
}