
<nav>
    <img src="img/logo.svg" />

    <div class="profilebtns">
        <a href="#" @onclick="@ToggleLogin">Logare</a>
        <a href="#" @onclick="@ToggleRegister">Creare cont</a>
    </div>
</nav>

@code {
    [Parameter, EditorRequired]
    public Action ToggleLogin { get; set; } = default!;

    [Parameter, EditorRequired]
    public Action ToggleRegister { get; set; } = default!;
}